.footer{
    background-color: white;
    border: 2px solid black;
    padding-top: 4rem;
}
.footer .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns:250px 300px 400px 300px;
    gap: 1.5rem;
    align-items: flex-start;
   
}

.footer .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
 }
 
 .footer .box-container a,
 .footer .box-container p{
    font-size: 1.5rem;
    color: #9c8f8f;;
    padding:0.5rem 0;
    display: block;
    text-decoration: none;
 }
 
 .footer .box-container a i,
 .footer .box-container p i{
    color:palevioletred;
    padding-right: 0.5rem;
    
 }
 
 .footer .box-container a:hover{
    text-decoration: underline;
    color:palevioletred;
 }
 
.footer .credit{
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top:2px solid black;
    font-size: 2rem;
    color: #817171;;
 }
 
 .footer .credit span{
    color:palevioletred;
 }