


.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   padding:2rem;
   gap:1.5rem;
   z-index: 10000;
   justify-content: space-between;
}

.message span{
   color:var(--black);
   font-size: 2rem;
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   transform: rotate(90deg);
}
.delete-btn{
    display: inline-block;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color:white;
    cursor: pointer;
    padding:1rem 3rem;
    text-transform: capitalize;
 }
 
 .delete-btn{
    background-color:red;
 }
 
 .delete-btn:hover{
    background-color: black;
 }
 
 .header{
   position: sticky;
   background-color: white;
   z-index:10 ;
   border-bottom: 2px solid black;

}
.header .flex{
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 0px 0px 0px;
   position: relative;
}
.header .logo{
   font-size: 3.5rem;
   color: palevioletred;text-decoration: none;
}

.header .flex .navbar ul{
    text-decoration: none;
    list-style: none;
}
.header .flex .navbar ul li{
   float:left;
   position: relative;
}

.header .flex .navbar ul li a{
   font-size: 2rem;
   padding: 2rem 2rem;
   display: block;
   color: #bf9695;
   text-transform: capitalize;
   text-decoration: none;
}
.header .flex .navbar ul li a:hover{
   background-color: pink;
   color:white;
}
.header .flex .navbar ul li ul{
   position: absolute;
   left: 0;
   width: 12rem;
   background-color: white;
   display: none;
}
.header .flex .navbar ul li ul li{
   width: 100%;
}
.header .flex .navbar ul li:hover ul{
   display: inline-block;
}
.header .flex .icons >*{
   font-size: 2.5rem;
   margin-left: 1rem;
   color: black;
   cursor: pointer;
}
.header .flex .icons >*:hover{
   color: palevioletred;
}
.header .flex .icons span{
   font-size: 1.7rem;
}
 
 #menu-btn{
    display: none;
 }
 
 .header .flex .account-box{
    position: absolute;
    top:120%; right:2rem;
    background-color: white;
    border:2px solid black;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
    border-radius: .5rem;
    width: 33rem;
    display: none;
    animation: fadeIn .2s linear;
 }
 
 .header .flex .account-box.active{
    display: block;
 }
 
 .header .flex .account-box p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color:#666;
    line-height: 1.5;
 }
 
 .header .flex .account-box p span{
    color:#e84393;
 }
 
 .header .flex .account-box .delete-btn{
    margin-top: .5rem;
 }